.py[cod]
db.sqlite3
local.py
.DS_STORE
node_modules
app.yaml

*.egg-info
*.pot
*.py[co]
*.pycache
__pycache__

*.cnf

.venv/

docs/_build/
docs/locale/

collected_static/
export/
local_storage/
log/
rsb_ssl/
.idea/