black==22.3.0
coreapi==2.3.3
Django==4.0.4
django-cors-headers==3.11.0
django-rest-framework==0.1.0
flake8==4.0.1
pre-commit==2.18.1
django-phonenumber-field==6.3.0
phonenumbers==8.12.51
django-oauth-toolkit==2.1.0
dj-rest-auth==2.2.4
django-allauth==0.51.0